@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.03rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.link {
  @apply flex items-center justify-between px-4 transition duration-200 ease-in-out
  hover:bg-[#ffffff07] cursor-pointer py-2 rounded-lg hover:ring-1 ring-white/10 hover:scale-[1.005]
  hover:shadow-xl hover:shadow-[#00000080]
}
